*{
	box-sizing: border-box;
}
body{
	background: rgb(20, 28, 76);
	background-image: url(./images/bg-mobile.svg);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  font-family: 'Raleway', sans-serif;
	  color: white;
	  margin: 0;
	}

	.container{
		padding: 1.5rem;
		width: 80%;
		display: flex;
		align-items: center;
		gap: 32px;
	}

	.icons{
		width: 50%;
		background: hsl(228, 56%, 26%);
		padding: 2rem 0.2rem;
		border-radius: 5px 80px 5px 5px;
		display: block;
	}

	li{
		list-style: none;
		margin: 0.3rem;
		display: inline;
	}
	h1{
		margin-left: 1rem;
	}

	.logo{
		    width: 120px;
    		height: auto;
			padding-left: 1.5rem;

	}

	

	.spanimg{
		background: hsl(229, 57%, 11%);
		padding: .8em .8em .4em .8em; 
		border-radius: 5px;
	}

		/*ESTILOS PARA EL DISKPACE*/
	.diskspace{
		width: 50%;
		background: hsl(228, 56%, 26%);
		padding: 2em;
		border-radius: 5px;
		display: block;
		margin-top: 1em;
	}
	
	.texto p{
		color: white;
		font-weight: 400;
		font-size: 14px;
	}
	.texto p span{
		font-weight: 700;
		font-size: 14px;

	}
		.myProgress {
	  width: 97%;
	  background-color: hsl(229, 57%, 11%);
	  border-radius: 30px;
	}
	.myBar {
	  width: 70%;
	  height: 12px;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	  line-height: 30px;
	  border-radius: 30px;

	  
	}
	.bar{
		padding-left: 0.5em;
	}
	.gb{
		display: inline-block;
		text-align: center;
	}
	#gb1{
		float: right;
	}

	@media (max-width: 700px) {
body{
	background: rgb(20, 28, 76);
	background-image: url(./images/bg-desktop.svg);
	background-position: center;
	background-repeat: no-repeat;
	  background-size: cover;
	  font-family: 'Raleway', sans-serif;
		height: 100vh;
	  color: white;	
	}
	.container{
		width: 100%;
		padding: 1.5em;
		flex-direction: column;
	}
	
	/* ESTILOS PARA EL LOGO E ICONO */

	.icons{
		width: 100%;
		background: hsl(228, 56%, 26%);
		padding: 1em;
		border-radius: 5px 80px 5px 5px;
		display: inline-block;
	}

	li{
		list-style: none;
		margin: .5em;
		display: inline;
	}
	h1{
		margin-left: 1.3em;
	}
	.logo{
		width: 40%;

	}
	.spanimg{
		background: hsl(229, 57%, 11%);
		padding: .8em .8em .4em .8em; 
		border-radius: 5px;
	}

		/*ESTILOS PARA EL DISKPACE*/
	.diskspace{
		width: 100%;
		background: hsl(228, 56%, 26%);
		padding: 2em;
		border-radius: 5px;
		margin-left: 2%;
		display: inline-block;
	}
	
	.texto p{
		color: white;
		font-weight: 400;
		font-size: 14px;
	}
	.texto p span{
		font-weight: 700;
		font-size: 14px;

	}
		.myProgress {
	  width: 97%;
	  background-color: hsl(229, 57%, 11%);
	  border-radius: 30px;
	}
	.myBar {
	  width: 70%;
	  height: 12px;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	  line-height: 30px;
	  border-radius: 30px;

	  
	}
	.bar{
		padding-left: 0.5em;
	}
	.gb{
		display: inline-block;
		text-align: center;
	}
	#gb1{
		float: right;
	}

		}

